#confirmation {
    text-align: center;
    font-size: 2.2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.attachment {
  position: relative;
  left: 4rem;
  font-size: 1.5rem;
}