{% extends 'pages/header.html' %}
{% load static %}

{% block title %} New post {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'pages/newpost.css' %}">

<div class="container"> 
    {% if submitted %}
        <p id="confirmation">Information is submitted.</p>
        <a href="/newpost"><button class="btn" >Post another</button></a>
    {% else %}
        <h1 class="form-title">Create new post</h1>
        <form accept="" method=POST>
            {% csrf_token %}
            
            {{ form.as_p }}
            <button class="btn">Submit</button>
        </form>
    {% endif %}
</div>

 {% endblock %}
