{% extends 'pages/header.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'pages/posts.css' %}">
<div id="container">
    <div id="buttons-area">
        <button class="btn" onclick="location.href='/search/inquiries/0'">Inquiries</button>
        <button class="btn" onclick="location.href='/search/companies/0'">Companies</button>
        <button class="btn" onclick="location.href='/search/posts/0'">Posts</button>
    </div>
    <div id="search-area">
        <div id="search-tools">
            <div>
                {% if table == "posts" %}
                <form id="search-form" method="POST" action="{% url 'pages:search_results' %}">
                    {% csrf_token %}

                    <input id="search-field" type="search" placeholder="Post search" name="search">
                    <button id="search-btn">Search</button>
                </form>
                {% endif %}
            </div>
            <div id="arrows">
                {% if page_number == 0 %}
                <button class="page-selector" id="backward" disabled><</button>
                {% else %}
                <button class="page-selector" id="backward"><</button>
                {% endif %}
                {% if is_last %}
                <button class="page-selector" id="forward" disabled>></button>
                {% else %}
                <button class="page-selector" id="forward">></button>
                {% endif %}
            </div>
        </div>
        {% if table == 'posts' %} 
        <table>
            <tr>
                <th style="width: 15%;">Invoice</th>
                <th style="width: 20%;">Title</th>
                <th style="width: 45%;">Service provided</th>
                <th style="width: 10%;">Amount</th>
                <th style="width: 10%;">Author</th>
            </tr>
            
            {% for object in objects %}
            <tr class='row' onclick="window.location='/{{table}}/{{ object.id }}';">
                <td>{{ object.invoice_number }}</td>
                <td>{{ object.title }}</td>
                <td>{{ object.service_provided }}</td>
                <td>{{ object.amount }}</td>
                <td>{{ object.author}}</td>
            </tr>
            {% endfor %}
        </table>
        {% elif table == 'inquiries' %}
        <table>
            <tr>
                <th style="width: 10%;">Id</th>
                <th style="width: 15%;">Title</th>
                <th style="width: 50%;">Body</th>
                <th style="width: 10%;">Author</th>
                <th style="width: 15%;">Post</th>
            </tr>
            
            {% for object in objects %}
            <tr class='row' onclick="window.location='/{{table}}/{{ object.id }}';">
                <td>{{ object.id }}</td>
                <td>{{ object.title }}</td>
                <td>{{ object.body }}</td>
                <td>{{ object.author}}</td>
                <td>{{ object.post }}</td>
            </tr>
            {% endfor %}
        </table>
        {% elif table == 'companies' %}
        <table>
            <tr>
                <th style="width: 20%;">Name</th>
                <th style="width: 20%;">License number</th>
                <th style="width: 20%;">Address</th>
                <th style="width: 20%;">Phone number</th>
                <th style="width: 20%;">License status</th>
            </tr>
            
            {% for object in objects %}
            <tr class='row' onclick="window.location='/{{table}}/{{ object.id }}';">
                <td>{{ object.name }}</td>
                <td>{{ object.license_number }}</td>
                <td>{{ object.address }}</td>
                <td>{{ object.phone_number }}</td>
                <td>{{ object.license_status}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>

<script>
    const backward = document.getElementById('backward')
    let previousPage = Number('{{page_number}}') - 1
    backward.addEventListener("click", () => {
            window.location.href = `/search/{{table}}/${previousPage}`;
        });

    const forward = document.getElementById('forward')
    let nextPage = Number('{{page_number}}') + 1
    console.log(nextPage)
    forward.addEventListener("click", () => {
            window.location.href = `/search/{{table}}/${nextPage}`;
        });

</script>
{% endblock %}